.hero-container { 
  @extend .flex-center-column;
  @extend .paralax-effect;
  background-image: url(../../assets/images/wheat-1845835_1920.jpg);
  justify-content: center;
  height: 100vh;
  

  .hero-content {
    width: 80%;
    text-align: center;
    margin-bottom: 3em;
    
    @extend .flex-center-column;

    @media (min-width: $mediaDesktopMin) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .hero-content-text {
      word-break: break-all;
      @media (min-width: $mediaDesktopMin) {
        margin: 100px;
      }
    }
  
    .hero-content-image {
      width: 15em;
      height: 15em;
      border-radius: 50%;
      object-fit: cover;
      @media (min-width: $mediaDesktopMin) {
        width: 30em;
        height: 30em;
      }
    }

    button {
      @extend .button;
      font-weight: 600;
      margin: 20px 0px;
    }
  }
}