.order-form-container {
  @extend .flex-center-column;
  justify-content: center;
  text-align: center;
  color: #000;
  @extend .paralax-effect;

  .order-form{
    text-align: center;
    width: 100%;
    @media (min-width: $mediaDesktopMin) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
    input {
      width: 60%;
    }

    .watch-container {
      @media (max-width: $mediaDesktopMin) {
        display: none;
      }
    }
  }
}