.popular-dishes-container{
  background-attachment: fixed;
  color: #000;
  line-height: 10px;
  @extend .flex-center-column;

  .card-container-popular-dishes {
    @extend .flex-center-column;
    justify-content: center;

    @media (min-width: $mediaTabletMin){
      flex-direction: row;
      flex-wrap: wrap;
    } 
  }
}