.recipe-search {
  background-image: url(../../assets/images/Recipe-Search-lukin.jpeg);
  @extend .paralax-effect;
  @extend .flex-center-column;

  .recipe-list {
    @extend .flex-center-row;
    justify-content: center;
    flex-wrap: wrap;

    .recipe-card {
      @extend .flex-center-column;
      justify-content:baseline;
      box-shadow: 0px 0px 6px 2px $box-shadow-color;
      width: 350px;
      height: 550px;
      margin: 12px;
      background-color: whitesmoke;
      padding: 20px;

      .card-name{
      word-wrap:normal;
      text-align: center;
      font-size: 20px;
      }

      .card-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 20px 0;
      }
      .card-yield {
        
      }
      .card-healthiness {
        text-align: center;
      }

      .card-button,
      #submit{
        @extend .button
      }

      .allergens,
      .source {
        font-size: 12px;
      }
    }
  }
}

