// $nav-background: rgba(130,153,185,1);
$background-green: rgba(233, 245, 219, 1);
$background-white: whitesmoke; 
$background-blue: rgba(130,153,185, 1);
$button-green: rgba(113, 131, 85, 1);
$button-green-hover: rgba(151, 169, 124, 1);
$icon-background: rgb(154, 226, 140);
$box-shadow-color: #4F4F4F;

$mediaDesktopMin: 1260px;
$mediaTabletMax: 960px;
$mediaTabletMin: 768px;
$mediaMinWidth: 480px;

$background-white-paper: url(../../assets/images/Bakgrund_Lin-ljus.jpg);

.paralax-effect {
  background-size: cover;
  background-attachment: fixed;
}
.flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  border: none;
  color: whitesmoke;
  padding:15px 20px;
  border-radius: 10px;
  background-color: $button-green;
  &:hover {
    gap: 2px;
    transform: scale(1.05);
    transition: 0.2s ease-out;
    background-color: $button-green-hover;
    border: 2px solid $button-green;
    color: #000;
  }
}

.ul-row {
  display: flex;
  flex-direction: row;
}

.ul-column {
  display: flex;
  flex-direction: column;
}

.icon-image {
  width: 20px;
  height: 20px;
};

.large-image {
  width: 150px;
  height: 150px;
};

.card-image {
  width: 80px;
  height: 80px  
};


