.customer-review {
  @extend .flex-center-column;
  background-color: $background-white;
  background-image: url(../../assets/images/kite.jpeg);
  background-size: cover; 
  @extend .paralax-effect;
  
  .review-card-container {
    @extend .flex-center-column;
    justify-content: center;

    @media (min-width: $mediaTabletMin) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: $mediaDesktopMin) {

    }
    
    .review-card {
      @extend .flex-center-column;
      justify-content: center;
      background-color: $background-white;
      box-shadow: 0px 0px 6px 2px $box-shadow-color;
      width:70%;
      height: 300px;
      border-radius: 5px;
      margin: 20px;
      padding: 60px 20px 20px 20px;

      &:hover {
        transform: scale(1.05);
        transition: 0.5s ease-out;

        .top-container {
          .avatar-image,
          .quotes-image {
            transform: scale(1.8);
            transition: 0.5s ease-out;
          }
        }
      }

      @media (min-width: $mediaTabletMin) {
        width: 30%;
        flex-direction: row;
        flex-wrap: wrap;
        height: 350px;
      }

      @media (min-width: $mediaDesktopMin) {
        width: 19%;
        height: 300px;
      }

      .top-container {
        @extend .flex-center-row;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;

        .avatar-image {
          height:70px;
          width: 70px;
          border-radius: 50%;
        }

        .quotes-image {
          height: 40px;
          width: 40px;
          opacity: 0.5;
        }
        
        .review-card-top-center-div {
          text-align: center;
          margin: 0;

          .avatar-text {
            font-size: 20px;
          }

          .star-container{
            @extend .flex-center-column;
            gap:5px;
          }
        }
      }
    }
  }
}