.flex-center-row, body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-column, body .watch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button, body main section div button {
  border: none;
  color: whitesmoke;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #089708;
}

.ul-row, body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ul-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-image {
  width: 20px;
  height: 20px;
}

.large-image {
  width: 150px;
  height: 150px;
}

.card-image {
  width: 80px;
  height: 80px;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body header nav {
  background-color: #e5ebd5;
  padding: 5px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 1px grey;
          box-shadow: 0px 1px 1px grey;
}

body header nav div img {
  width: 30px;
  padding: 0 10px;
}

body header nav ul li {
  list-style: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

body header nav ul li a {
  text-decoration: none;
}

body .watch-container {
  width: 400px;
  height: 400px;
  background: #9dad6f;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 4px 95px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 95px rgba(0, 0, 0, 0.25);
}

body #time {
  font-size: 5rem;
  font-weight: 600px;
  color: #fff;
}

body #date {
  font-size: 1.3rem;
  margin-top: 20px;
  font-weight: 600px;
  color: black;
}

body main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px;
  -webkit-box-shadow: 0px 1px 1px grey;
          box-shadow: 0px 1px 1px grey;
}

body main section div {
  text-align: center;
}

body main section div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */