@import "./components/variables";
@import "./components/watch";

// BODY 

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  header {
    @extend .flex-center-column;
  //NAVBAR

    nav {
      width: 100%;
      @extend .flex-center-column;
      background-color: $background-grey;
      padding: 5px 10px;
      align-items: center;
      box-shadow:0px 1px 1px grey;
      
      .nav-logo {
        @extend .flex-center-row;
        p {
          font-size: 30px;
        }
        img {
          height:70px;
          width:70px;
          margin-right: 10px;
        }
      }

      ul {
        @extend .flex-center-column;
        li {
          font-size: 20px;
          list-style: none;
          padding: 10px 20px;
          text-transform: uppercase;
          a {
            text-decoration: none;
          }
        }
      }

      .nav-navlink-icons{
        img { 
          height: 40px;
          padding: 30px 20px
        }
      }
    }
  }

  // MAIN 

  main {

    // HOME-TOP-CONTAINER

    .hero-container {
      @extend .flex-center-column;
      padding: 70px;
      box-shadow:0px 1px 1px grey;

      div {
        text-align: center;
        margin-bottom: 3em;
        img {
          width: 20em;
          height: 20em;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          @extend .button;
        }
      }
    }

    // POPULAR DISHES 

    .popular-dishes-container{
      @extend .flex-center-column;

      .card-container-popular-dishes {
        @extend .flex-center-column;
        justify-content: center;
        
        .card-popular-dishes {
          @extend .flex-center-column;
          justify-content: center;
          box-shadow: 0px 0px 6px 2px #4F4F4F;
          width:80%;
          border-radius: 5px;
          margin: 20px;
          padding: 20px;
          
          .card-icons-container {
            @extend .flex-center-row;
            justify-content: space-between;
            width:90%;
            margin: 10px;
            .eye-icon,
            .heart-icon {
              height: 20px;
              width: 20px;
              background-color: rgb(154, 226, 140);
              padding: 8px;
              border-radius: 50%;
            }
          }

          img {
            width: 100%;
            border-radius: 20px;
          }

          .stars-container {
            @extend .flex-center-row;
          }

          .card-bottom-container {
            @extend .flex-center-row;
            justify-content: space-around;
            button {
              @extend .button;
              margin-left: 100px;
            }
            margin-bottom: 50px;
          }
        }
      };
    }
      //WHY CHOOSE US
      
    .why-choose-us {
      @extend .flex-center-column;
      align-items: center;

      .banner-container {
        @extend .flex-center-column;
        align-items: center;
        .banner-image {
          width: 80%;
          border-radius: 50%;
          margin: 5% 0;
        }
        .banner-text-container {
          @extend .flex-center-column;
          width: 80%;
          margin: 5% 0;

          .button-container {
            @extend .flex-center-row;
            justify-content: space-evenly;

            .about-button {
              @extend .flex-center-row;
              @extend .button;
              margin: 0 3%;
              font-size: 10px;
              
              img {
                margin-right: 5px;
              }
            }
          }

          .learn-more-button {
            @extend .button;
            margin: 8% 0;
            
          }
        }
      }
    }
    //TODAYS SPECIAL
    .todays-special {
      @extend .flex-center-column;
      justify-content: center;
      
      .cards-container-todays-special {
        .card-todays-special {
          @extend .flex-center-column;
          justify-content: center;
          box-shadow: 0px 0px 6px 2px #4F4F4F;
          width:70%;
          border-radius: 5px;
          margin: 20px;
        }
      }
    }
    

    //REVIEWS CONTAINER

    .customer-review {
      @extend .flex-center-column;

      .review-card-container {
        @extend .flex-center-column;
        justify-content: center;
        
        .review-card {
          @extend .flex-center-column;

          .top-container {
            img {
              height:20px;
              width: 20px;
            }
          }
        }

      }
    }
  }
  }