@import "./components/variables";
@import "./components/watch";

// BODY 

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  // font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: "Avenir Next", "Avenir", sans-serif;

  header {
  
  //NAVBAR

    nav {
      height: 80px;
      background-color: $nav-background;
      position: fixed;
      width: 100%;

      .nav-links {
        @extend .flex-center-row;
        justify-content: space-around;
        position: relative;
        bottom: 10px;

        a {
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          font-size: 20px;
          list-style: none;
          padding: 10px 20px;
          color:#000;
          &:hover {
            transform: scale(1.2);
            transition: .5s ease-in-out;
            letter-spacing: 2px;
          }
        }

        img {
            height:50px;
            width:50px;
        }

        .nav-navlink-icons{
          img { 
            height: 30px;
            padding: 30px 20px;
            &:hover {
              transform: scale(1.2);
              transition: .5s ease-in-out;
            }
          }
        }

        @media (max-width: $mediaDesktopMin) {
            display: none;
          }
      
      }
        
      .hamburger { 
        display: flex;
        flex-direction: row;
        @media (min-width: $mediaDesktopMin) {
              display: none;
          }
        .menu-toggle {
          display: block;
          position: relative;
          top: 25px;
          left: 20px;
          z-index: 1;
          

          a {
            text-decoration: none;
            color: #232323;
            transition: color 0.3s ease;
          
            &:hover {
              color: tomato;
              font-weight: 700;
              letter-spacing: 2px;
            }
          } 

          input {
            display: block;
            width: 40px;
            height: 32px;
            position: absolute;
            top: -7px;
            left: -5px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;

            &:checked~span:nth-last-child(n) {
              opacity: 1;
              transform: rotate(45deg) translate(-2px, -1px);
              background: #232323;
            }

            &:checked~span:nth-last-child(3) {
              opacity: 0;
              transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:checked~span:nth-last-child(2) {
              transform: rotate(-45deg) translate(-2px, -1px);
            }

            &:checked~ul {
              transform: none;
            }  
          }

            span {
              display: block;
              width: 37px;
              height: 4px;
              margin-bottom: 5px;
              position: relative;
              background: #000;
              border-radius: 3px;
              z-index: 1;
              transform-origin: 4px 1px;
              transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
              
              &::first-child {
                transform-origin: 0% 0%;
              }

              &::nth-last-child(2) {
                transform-origin: 0% 100%;
              }
            }

          }
          
          .menu {
            position: absolute;
            width: 300px;
            margin: -100px 0 0 -50px;
            padding: 50px;
            padding-top: 125px;
            background: #ededed;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
            /*tostopflickeringoftextinsafari*/
            transform-origin: 0% 0%;
            transform: translate(-100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

            li {
              padding: 10px 0;
              font-size: 22px;
            }
          }
      }
          .nav-navlink-icons-dropdown,
          .nav-navlink-icons {
            img { 
              height: 30px;
              padding: 30px 20px;
              position: relative;
              &:hover {
                transform: scale(1.2);
                transition: .5s ease-in-out;
              }
            }
          }

          .nav-navlink-icons-dropdown {
            left: 50px;
          }

          img {
            height:50px;
            width:50px;
            padding-top:12px;
            padding-left: 30px;
          }
      }
    }
  }

  // MAIN 

  main {
    
    section {
      padding: 70px 0px;
    }
    // HOME-TOP-CONTAINER

    .hero-container {
      @extend .flex-center-column;

      padding: 100px 70px 70px 70px;
      // box-shadow:0px 1px 1px grey;
      background-color: $background-color;
      @media (min-width: $mediaDesktopMin) {
        flex-direction: row-reverse;
        justify-content: space-around;
      }

      div {
        text-align: center;
        margin-bottom: 3em;
        img {
          width: 20em;
          height: 20em;
          border-radius: 50%;
          object-fit: cover;
          @media (min-width: $mediaDesktopMin) {
            width: 30em;
            height: 30em;
          }
        }

        button {
          @extend .button;
          font-weight: 600;
        }
      }
    }

    // POPULAR DISHES 

    .popular-dishes-container{
      
      @extend .flex-center-column;

      .card-container-popular-dishes {
        @extend .flex-center-column;
        justify-content: center;
        @media (min-width: $mediaTabletMin){
          flex-direction: row;
          flex-wrap: wrap;
        }

        .card-popular-dishes {
          @extend .flex-center-column;
          justify-content: center;
          box-shadow: 0px 0px 6px 2px $box-shadow-color;
          width:80%;
          border-radius: 5px;
          margin: 20px;
          padding: 20px;
          &:hover {
            transform: scale(1.05);
            transition: 0.5s ease-out;
          }
          @media (min-width: $mediaTabletMin) {
            width: 35%;
          }
          @media (min-width: $mediaDesktopMin) {
            width: 25%;
          }
          
          .card-icons-container {
            @extend .flex-center-row;
            justify-content: space-between;
            width:90%;
            margin: 10px;

            .eye-icon,
            .heart-icon {
              height: 20px;
              width: 20px;
              background-color: $icon-background;
              padding: 8px;
              border-radius: 50%;
            }
          }

          img {
            height: 200px;
            border-radius: 20px;
          }

          .stars-container {
            @extend .flex-center-row;
            gap: 7px;
          }

          .card-bottom-container {
            @extend .flex-center-row;
            justify-content: space-around;
            margin-bottom: 50px;
            button {
              @extend .button;
              margin-left: 100px;
            }
          }
        }
      };
    }
      //WHY CHOOSE US
      
    .why-choose-us {
      @extend .flex-center-column;
      align-items: center;
      background-color: $background-color;

      .banner-container {
        @extend .flex-center-column;
        align-items: center;
        @media (min-width: $mediaDesktopMin) {
          flex-direction: row;
          justify-content: space-evenly;
        }
        .banner-image {
          width: 50%;
          border-radius: 50%;
          margin: 5% 0;
          @media (min-width: $mediaDesktopMin) {
            width: 30em;
            height: 30em;
          }
        }
        .banner-text-container {
          @extend .flex-center-column;
          width: 80%;
          margin: 5% 0;
          @media (min-width: $mediaDesktopMin) {
            width: 50%;
          }
          .button-container {
            @extend .flex-center-row;
            justify-content: space-evenly;

            .about-button {
              @extend .flex-center-row;
              @extend .button;
              margin: 0 3%;
              font-size: 11px;
              
              img {
                padding-right: 4px;
              }
            }
          }

          .learn-more-button {
            @extend .button;
            margin: 8% 0;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }
    }
    //TODAYS SPECIAL
    .todays-special {
      @extend .flex-center-column;
      justify-content: center;
      
      .cards-container-todays-special {
        @extend .flex-center-column;
        justify-content: center;
        @media (min-width: $mediaTabletMin){
          flex-direction: row;
          flex-wrap: wrap;
        }

        .card-todays-special {
          @extend .flex-center-column;
          justify-content: center;
          box-shadow: 0px 0px 6px 2px $box-shadow-color;
          width:80%;
          border-radius: 5px;
          margin: 20px;
          padding: 20px;
          &:hover {
            transform: scale(1.03);
            transition: 0.5s ease-out;
          }
          @media (min-width: $mediaTabletMin) {
            width: 35%;
            height: 550px;
          }
          @media (min-width: $mediaDesktopMin) {
            width: 25%;
          }
          
          .card-icons-container {
            text-align: right;
            width: 100%;
            img {
              width: 20px;
              height: 20px;
              background-color: $icon-background;
              padding: 10px;
              border-radius: 50%;
              margin: 20px;
              ;
            }
          }

          img {
            width: 15em;
            height: 20em;
          }

          .stars-container {
            @extend .flex-center-row;
            gap: 7px;
          }

          .card-bottom-container {
            @extend .flex-center-row;
            justify-content: space-around;
            width: 100%;
            margin-top: 50px;
            button {
              @extend .button;
              width: 150px;
            }
            margin-bottom: 50px;
          }
          }
        }
      }
    }

    //REVIEWS CONTAINER

  .customer-review {
    @extend .flex-center-column;
    background-color: $background-color;
    .review-card-container {
      @extend .flex-center-column;
      justify-content: center;
      @media (min-width: $mediaTabletMin) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      @media (min-width: $mediaDesktopMin) {
      }
      
      .review-card {
        @extend .flex-center-column;
        justify-content: center;
        background-color: $background-white;
        box-shadow: 0px 0px 6px 2px $box-shadow-color;
        width:80%;
        border-radius: 5px;
        margin: 20px;
        padding: 60px 20px 20px 20px;
        &:hover {
          transform: scale(1.05);
          transition: 0.5s ease-out;
          .top-container {
            .avatar-image,
            .quotes-image {
              transform: scale(1.8);
              transition: 0.5s ease-out;
            }
          }
        }
        @media (min-width: $mediaTabletMin) {
          width: 35%;
          flex-direction: row;
          flex-wrap: wrap;
        }
        @media (min-width: $mediaDesktopMin) {
          width: 25%;
        }

        .top-container {
          @extend .flex-center-row;
          align-items: flex-start;
          justify-content: space-around;
          width: 100%;
          .avatar-image {
            height:70px;
            width: 70px;
            border-radius: 50%;
          }
          .quotes-image {
            height: 40px;
            width: 40px;
            opacity: 0.5;
          }
          
          .review-card-top-center-div {
            text-align: center;
            .avatar-text {
              font-size: 20px;
            }
            .star-container{
              @extend .flex-center-row;
              gap:5px;
            }
          }
        }
      }
    }
  }

  .order-form-container {
    @extend .flex-center-column;
    justify-content: center;
    text-align: center;
    background-image: url(../assets/food-images/Minimalist-Wallpaper-1920x1080-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .watch-container {
      @media (max-width: $mediaDesktopMin) {
        display: none;
      }
    }
    .order-form{
      text-align: center;
      width: 100%;
      @media (min-width: $mediaDesktopMin) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
      }
      input {
        width: 60%;
      }
    }
  }

  footer {
    @extend .flex-center-column;
    width: 100%;
    background-color: $nav-background;
    .locations-container,
    .quick-links-container,
    .contact-info-container
    .follow-us-container {
      @extend .flex-center-column;
      justify-content: center;
    }

    .quick-links,
    .follow-us-links {
      @extend .flex-center-column;
    }
  }
