@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
h2 {
  margin-top: 0px;
}

.paralax-effect, nav, .hero-container, .why-choose-us, .todays-special, .customer-review, .order-form-container, .recipe-search, footer {
  background-size: cover;
  background-attachment: fixed;
}

.flex-center-row, nav .nav-links, .why-choose-us .banner-container .banner-text-container .button-container .about-button, .todays-special .cards-container-todays-special .card-todays-special .stars-container, .todays-special .cards-container-todays-special .card-todays-special .card-bottom-container, .customer-review .review-card-container .review-card .top-container, .recipe-list, footer .sub-container .sub-form, footer .footer-middle-container, footer .footer-middle-container .contact-info-container div div > p,
footer .footer-middle-container .contact-info-container div p, footer .footer-middle-container .follow-us-container .follow-us-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center-column, .hero-container, .hero-container .hero-content, .popular-dishes-container, .popular-dishes-container .card-container-popular-dishes, .why-choose-us, .why-choose-us .banner-container, .why-choose-us .banner-container .banner-text-container, .why-choose-us .banner-container .banner-text-container .button-container, .todays-special, .todays-special .cards-container-todays-special, .todays-special .cards-container-todays-special .card-todays-special, .customer-review, .customer-review .review-card-container, .customer-review .review-card-container .review-card, .customer-review .review-card-container .review-card .top-container .review-card-top-center-div .star-container, .order-form-container, .watch-container, .recipe-search, .recipe-search .search-container form, .recipe-list .recipe-card, footer, footer .sub-container, footer .footer-middle-container .quick-link-container .quick-links, footer .footer-middle-container .follow-us-container .follow-us-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button, .hero-container .hero-content button, .popular-dishes-container .card-container-popular-dishes button, .why-choose-us .banner-container .banner-text-container .button-container .about-button, .why-choose-us .banner-container .banner-text-container .learn-more-button, .todays-special .cards-container-todays-special .card-todays-special .card-bottom-container button, .recipe-search .search-container #submit, .recipe-list .recipe-card .card-button-container .card-button, footer .sub-container form button {
  border: none;
  background-color: #2980b9;
  padding: 10px 15px;
  color: #FFF;
  cursor: pointer;
}

.button:hover, .hero-container .hero-content button:hover, .popular-dishes-container .card-container-popular-dishes button:hover, .why-choose-us .banner-container .banner-text-container .button-container .about-button:hover, .why-choose-us .banner-container .banner-text-container .learn-more-button:hover, .todays-special .cards-container-todays-special .card-todays-special .card-bottom-container button:hover, .recipe-search .search-container #submit:hover, .recipe-list .recipe-card .card-button-container .card-button:hover, footer .sub-container form button:hover {
  gap: 2px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  background-color: #409ad5;
}

.ul-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ul-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icon-image {
  width: 20px;
  height: 20px;
}

.large-image {
  width: 150px;
  height: 150px;
}

.card-image {
  width: 80px;
  height: 80px;
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
}

.appear {
  opacity: 1;
}

nav {
  height: 70px;
  width: 100%;
  padding: 10px 5px 5px 5px;
}

nav .nav-links {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 10px;
}

nav .nav-links a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  list-style: none;
  padding: 10px 20px;
  color: #000;
  font-weight: 600;
}

nav .nav-links a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  letter-spacing: 2px;
}

nav .nav-links a::after {
  content: "";
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
  width: 0px;
  background-color: #409ad5;
}

nav .nav-links a:hover::after {
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

nav .nav-links .logo-button {
  display: inline-block;
  text-decoration: none;
  color: #668ad8;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #668ad8;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: .6s;
  transition: .6s;
}

nav .nav-links .logo-button:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

nav .nav-links .nav-navlink-icons img {
  height: 20px;
  padding: 30px 20px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

nav .nav-links .nav-navlink-icons img:hover {
  -webkit-transform: scale(1.2) translate(0, -10px);
          transform: scale(1.2) translate(0, -10px);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media (max-width: 1260px) {
  nav .nav-links {
    display: none;
  }
}

nav .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 1260px) {
  nav .hamburger {
    display: none;
  }
}

nav .hamburger .menu-toggle {
  display: block;
  position: relative;
  top: 25px;
  left: 20px;
}

nav .hamburger .menu-toggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

nav .hamburger .menu-toggle a:hover {
  color: tomato;
  font-weight: 700;
  letter-spacing: 2px;
}

nav .hamburger .menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

nav .hamburger .menu-toggle input:checked ~ span:nth-last-child(n) {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

nav .hamburger .menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

nav .hamburger .menu-toggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(-2px, -1px);
          transform: rotate(-45deg) translate(-2px, -1px);
}

nav .hamburger .menu-toggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

nav .hamburger .menu-toggle span {
  display: block;
  width: 37px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 1px;
          transform-origin: 4px 1px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

nav .hamburger .menu-toggle span::first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

nav .hamburger .menu-toggle span::nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

nav .hamburger .menu {
  position: absolute;
  width: 305px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

nav .hamburger .menu li {
  padding: 10px 0;
  font-size: 22px;
}

nav .nav-navlink-icons-dropdown img,
nav .nav-navlink-icons img {
  height: 30px;
  padding: 30px 20px;
  position: relative;
}

nav .nav-navlink-icons-dropdown img:hover,
nav .nav-navlink-icons img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

nav .nav-navlink-icons-dropdown {
  left: 50px;
}

nav .logo-image {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
  left: 30px;
}

nav .logo-image:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.hero-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../../assets/images/wheat-1845835_1920.jpg);
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
}

.hero-container .hero-content {
  width: 80%;
  text-align: center;
}

@media (min-width: 1260px) {
  .hero-container .hero-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero-container .hero-content .hero-content-text .text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

.hero-container .hero-content .hero-content-text p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

@media (min-width: 1260px) {
  .hero-container .hero-content .hero-content-text {
    margin: 100px;
  }
}

.hero-container .hero-content .hero-content-image {
  width: 15em;
  height: 15em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1260px) {
  .hero-container .hero-content .hero-content-image {
    width: 30em;
    height: 30em;
  }
}

.hero-container .hero-content button {
  font-weight: 600;
  margin: 20px 0px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 999;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #409ad5;
}

.popular-dishes-container {
  background-attachment: fixed;
  color: #000;
  line-height: 10px;
}

.popular-dishes-container .card-container-popular-dishes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-dishes-container .card-container-popular-dishes .popular-card * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.popular-dishes-container .card-container-popular-dishes .popular-card {
  position: relative;
  overflow: hidden;
  margin: 10px;
  height: 60%;
  width: 80%;
  background: #ffffff;
  text-align: center;
  color: #000000;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-perspective: 20em;
          perspective: 20em;
}

@media (min-width: 768px) {
  .popular-dishes-container .card-container-popular-dishes .popular-card {
    width: 35%;
  }
}

@media (min-width: 1260px) {
  .popular-dishes-container .card-container-popular-dishes .popular-card {
    width: 20%;
  }
}

.popular-dishes-container .card-container-popular-dishes .popular-card:hover {
  -webkit-box-shadow: 0 0 9px black;
          box-shadow: 0 0 9px black;
}

.popular-dishes-container .card-container-popular-dishes h5 {
  font-size: 20px;
}

.popular-dishes-container .card-container-popular-dishes h6 {
  font-size: 16px;
  margin: 10px 0px;
}

.popular-dishes-container .card-container-popular-dishes .popular-card img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: top;
  position: relative;
}

.popular-dishes-container .card-container-popular-dishes .popular-card .add-to-fav {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0;
  background-color: #409ad5;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transform-origin: 10% 0;
          transform-origin: 10% 0;
}

.popular-dishes-container .card-container-popular-dishes .popular-card .add-to-fav i {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #164666;
  color: #ffffff;
  font-size: 1.4em;
}

.popular-dishes-container .card-container-popular-dishes .popular-card figcaption {
  padding: 20px;
}

.popular-dishes-container .card-container-popular-dishes .popular-card h3,
.popular-dishes-container .card-container-popular-dishes .popular-card p {
  margin: 0;
}

.popular-dishes-container .card-container-popular-dishes .popular-card h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.popular-dishes-container .card-container-popular-dishes .popular-card p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
}

.popular-dishes-container .card-container-popular-dishes .popular-card .price {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 48px;
  letter-spacing: 1px;
}

.popular-dishes-container .card-container-popular-dishes .popular-card .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}

.popular-dishes-container .card-container-popular-dishes .popular-card a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.popular-dishes-container .card-container-popular-dishes .popular-card:hover .add-to-fav,
.popular-dishes-container .card-container-popular-dishes .popular-card.hover .add-to-fav {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.popular-dishes-container .card-container-popular-dishes .popular-card:hover .add-to-fav i,
.popular-dishes-container .card-container-popular-dishes .popular-card.hover .add-to-fav i {
  background-color: #2980b9;
}

@media (min-width: 768px) {
  .popular-dishes-container .card-container-popular-dishes {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.why-choose-us {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: whitesmoke;
  background-image: url(../../assets/images/nwAlHa.jpeg);
  background-size: cover;
}

.why-choose-us .banner-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1260px) {
  .why-choose-us .banner-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.why-choose-us .banner-container .banner-image-container .container {
  width: 350px;
  height: 350px;
  background-image: url(../../assets/food-images/Image01.jpeg);
  background-position: center;
  background-size: cover;
  -webkit-transition: .4s;
  transition: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.why-choose-us .banner-container .banner-image-container .container button {
  margin: 1rem;
  outline: none;
  width: 40px;
  height: 40px;
  background: #fff;
  color: black;
  font-size: 1.1rem;
  border: none;
  border-radius: 50%;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.why-choose-us .banner-container .banner-image-container .container button:hover {
  opacity: 1;
}

.why-choose-us .banner-container .banner-text-container {
  width: 80%;
  margin: 5% 0;
}

@media (min-width: 1260px) {
  .why-choose-us .banner-container .banner-text-container {
    width: 45%;
  }
}

.why-choose-us .banner-container .banner-text-container .button-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 1260px) {
  .why-choose-us .banner-container .banner-text-container .button-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.why-choose-us .banner-container .banner-text-container .button-container .about-button {
  margin: 3% 3%;
  font-size: 11px;
  width: 160px;
  gap: 10px;
}

.why-choose-us .banner-container .banner-text-container .button-container .about-button .icon-image {
  height: 30px;
  width: 30px;
}

.why-choose-us .banner-container .banner-text-container .learn-more-button {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

.todays-special {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.todays-special .cards-container-todays-special {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .todays-special .cards-container-todays-special {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.todays-special .cards-container-todays-special .card-todays-special {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 6px 2px #4F4F4F;
          box-shadow: 0px 0px 6px 2px #4F4F4F;
  width: 70%;
  height: 50%;
  background-color: white;
  margin: 5%;
  color: #000;
  position: relative;
}

.todays-special .cards-container-todays-special .card-todays-special:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

@media (min-width: 768px) {
  .todays-special .cards-container-todays-special .card-todays-special {
    width: 30%;
    height: 50%;
    margin: 15px;
  }
}

@media (min-width: 1260px) {
  .todays-special .cards-container-todays-special .card-todays-special {
    width: 20%;
  }
}

.todays-special .cards-container-todays-special .card-todays-special h4 {
  margin: 0;
  font-size: 20px;
}

.todays-special .cards-container-todays-special .card-todays-special .card-icons-container img {
  width: 20px;
  height: 20px;
  background-color: #f1eded;
  padding: 10px;
  border-radius: 50%;
  margin: 10px;
  border: 1px solid black;
}

.todays-special .cards-container-todays-special .card-todays-special .card-icons-container img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border: 1px solid #D92856;
}

.todays-special .cards-container-todays-special .card-todays-special .todays-image-container {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
}

.todays-special .cards-container-todays-special .card-todays-special .stars-container {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todays-special .cards-container-todays-special .card-todays-special .stars-container p {
  margin: 0 0 0 30px;
}

.todays-special .cards-container-todays-special .card-todays-special .card-bottom-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.todays-special .cards-container-todays-special .card-todays-special .card-bottom-container button {
  width: 120px;
}

.customer-review {
  background-color: whitesmoke;
  background-image: url(../../assets/images/kite.jpeg);
  background-size: cover;
}

.customer-review .review-card-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .customer-review .review-card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.customer-review .review-card-container .review-card {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 6px 2px #4F4F4F;
          box-shadow: 0px 0px 6px 2px #4F4F4F;
  width: 70%;
  height: 300px;
  border-radius: 5px;
  margin: 20px;
  padding: 60px 20px 20px 20px;
}

.customer-review .review-card-container .review-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.customer-review .review-card-container .review-card:hover .top-container .avatar-image,
.customer-review .review-card-container .review-card:hover .top-container .quotes-image {
  -webkit-transform: scale(1.8);
          transform: scale(1.8);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

@media (min-width: 768px) {
  .customer-review .review-card-container .review-card {
    width: 30%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 350px;
  }
}

@media (min-width: 1260px) {
  .customer-review .review-card-container .review-card {
    width: 19%;
    height: 300px;
  }
}

.customer-review .review-card-container .review-card .top-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.customer-review .review-card-container .review-card .top-container .avatar-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.customer-review .review-card-container .review-card .top-container .quotes-image {
  height: 40px;
  width: 40px;
  opacity: 0.5;
}

.customer-review .review-card-container .review-card .top-container .review-card-top-center-div {
  text-align: center;
  margin: 0;
}

.customer-review .review-card-container .review-card .top-container .review-card-top-center-div .avatar-text {
  font-size: 20px;
}

.customer-review .review-card-container .review-card .top-container .review-card-top-center-div .star-container {
  gap: 5px;
}

.order-form-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #000;
}

.order-form-container .order-form {
  text-align: left;
  width: 80%;
}

@media (min-width: 1260px) {
  .order-form-container .order-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.order-form-container .order-form div > input,
.order-form-container .order-form div > textarea {
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid grey;
  font-size: 14px;
}

.order-form-container .order-form div > p {
  font-weight: 500;
}

.order-form-container .order-form .form-button {
  margin-top: 40px;
  padding: 20px 35px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1260px) {
  .order-form-container .order-form .watch-container {
    display: none;
  }
}

.watch-container {
  width: 300px;
  height: 300px;
  background: #9dad6f;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 0 4px 95px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 4px 95px rgba(0, 0, 0, 0.25);
  -webkit-transition: 2s;
  transition: 2s;
}

.watch-container:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

#time {
  font-size: 3rem;
  font-weight: 600px;
  color: #fff;
}

#date {
  font-size: 1.3rem;
  margin-top: 20px;
  font-weight: 600px;
  color: black;
}

.recipe-search {
  background-image: url(../../assets/images/687361.jpeg);
  color: #ffff;
  text-align: center;
}

.recipe-search .search-container form div {
  padding: 10px;
}

.recipe-search .search-container form div input {
  border: none;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid grey;
  font-size: 14px;
}

.recipe-search .search-container form div p {
  font-weight: 500;
}

.recipe-search .search-container form div #number-of-recipes {
  width: 50px;
  height: 20px;
}

.recipe-search .search-container #submit {
  margin-top: 20px;
}

.recipe-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipe-list .recipe-card {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-shadow: 0px 0px 6px 2px #4F4F4F;
          box-shadow: 0px 0px 6px 2px #4F4F4F;
  width: 350px;
  height: 550px;
  margin: 12px;
  color: black;
  background-color: whitesmoke;
  padding: 20px;
}

.recipe-list .recipe-card .card-name {
  word-wrap: normal;
  text-align: center;
  font-size: 20px;
}

.recipe-list .recipe-card .card-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px 0;
}

.recipe-list .recipe-card .card-healthiness {
  text-align: center;
}

.recipe-list .recipe-card .card-button-container .card-button {
  text-decoration: none;
}

.recipe-list .recipe-card .allergens,
.recipe-list .recipe-card .source {
  font-size: 12px;
}

.scrolling-text {
  font-size: 20px;
  position: absolute;
  text-align: center;
  -webkit-transform: translatex(-30%);
          transform: translatex(-30%);
  line-break: auto;
  margin: 20px 0px;
  -webkit-transform: translate(7%, -250%);
          transform: translate(7%, -250%);
  z-index: 0;
}

@media (min-width: 768px) {
  .scrolling-text {
    font-size: 30px;
    -webkit-transform: translate(45%, -300%);
            transform: translate(45%, -300%);
  }
}

@media (min-width: 1260px) {
  .scrolling-text {
    -webkit-transform: translate(25%, -250%);
            transform: translate(25%, -250%);
  }
}

.scrolling-text p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.scrolling-text p .word {
  position: absolute;
  width: 100px;
  opacity: 0;
  overflow: hidden;
  font-weight: 900;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .scrolling-text p .word {
    width: 200px;
  }
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

footer {
  font-family: 'Poppins', sans-serif;
}

footer .footer-top-container,
footer .footer-middle-container,
footer .footer-bottom-container {
  text-align: center;
}

footer .sub-container .sub-title {
  font-weight: 600;
}

footer .sub-container .sub-form {
  gap: 30px;
}

footer .footer-middle-container {
  text-transform: uppercase;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-middle-container .quick-link-container .quick-links a {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  line-height: 10px;
}

footer .footer-middle-container .quick-link-container .quick-links a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  letter-spacing: 2px;
  cursor: pointer;
}

footer .footer-middle-container .locations-container div p {
  font-size: 12px;
  font-weight: 700;
}

footer .footer-middle-container .contact-info-container div .social-icon {
  height: 20px;
  width: 20px;
}

footer .footer-middle-container .contact-info-container div div > p,
footer .footer-middle-container .contact-info-container div p {
  font-size: 12px;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-middle-container .contact-info-container div div > p img,
footer .footer-middle-container .contact-info-container div p img {
  margin-right: 10px;
}

footer .footer-middle-container .follow-us-container .follow-us-links a {
  width: 150px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  line-height: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

footer .footer-middle-container .follow-us-container .follow-us-links a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  letter-spacing: 2px;
}

footer .footer-middle-container .follow-us-container .follow-us-links a .social-icon {
  height: 20px;
  width: 20px;
}

footer .sub-container form p {
  font-weight: 700;
}

footer .sub-container form p input {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid grey;
  font-size: 14px;
}

footer .sub-container form button {
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}

footer .footer-bottom-container {
  font-size: 15;
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: url(../../assets/images/Bakgrund_Lin-ljus.jpg);
  background-repeat: repeat;
}

html body {
  scroll-behavior: smooth;
  margin: 0px;
}

html h4 {
  font-size: 40px;
}

html header {
  position: relative;
  z-index: 100;
}

html main section {
  padding: 10px 0px 70px 0px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */