.flex-center-row, body main .why-choose-us .banner-container .banner-text-container .button-container .about-button, body main .why-choose-us .banner-container .banner-text-container .button-container, body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes .card-bottom-container, body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes .stars-container, body header nav .nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-center-column, body main .customer-review .review-card-container .review-card, body main .customer-review .review-card-container, body main .customer-review, body main .why-choose-us .banner-container .banner-text-container, body main .why-choose-us .banner-container, body main .why-choose-us, body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes, body main .popular-dishes-container .card-container-popular-dishes, body main .popular-dishes-container, body main .hero-container, body header nav ul, body header nav, body header, .watch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button, body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes .card-bottom-container button, body main .hero-container div button {
  border: none;
  color: whitesmoke;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #089708;
}

.ul-row {
  display: flex;
  flex-direction: row;
}

.ul-column {
  display: flex;
  flex-direction: column;
}

.icon-image {
  width: 20px;
  height: 20px;
}

.large-image {
  width: 150px;
  height: 150px;
}

.card-image {
  width: 80px;
  height: 80px;
}

.watch-container {
  width: 400px;
  height: 400px;
  background: #9dad6f;
  border-radius: 50%;
  justify-content: center;
  box-shadow: inset 0 4px 95px rgba(0, 0, 0, 0.25);
}

#time {
  font-size: 5rem;
  font-weight: 600px;
  color: #fff;
}

#date {
  font-size: 1.3rem;
  margin-top: 20px;
  font-weight: 600px;
  color: black;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body header nav {
  width: 100%;
  background-color: #e5ebd5;
  padding: 5px 10px;
  align-items: center;
  box-shadow: 0px 1px 1px grey;
}
body header nav .nav-logo p {
  font-size: 30px;
}
body header nav .nav-logo img {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}
body header nav ul li {
  font-size: 20px;
  list-style: none;
  padding: 10px 20px;
  text-transform: uppercase;
}
body header nav ul li a {
  text-decoration: none;
}
body header nav .nav-navlink-icons img {
  height: 40px;
  padding: 30px 20px;
}
body main .hero-container {
  padding: 70px;
  box-shadow: 0px 1px 1px grey;
}
body main .hero-container div {
  text-align: center;
  margin-bottom: 3em;
}
body main .hero-container div img {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .popular-dishes-container .card-container-popular-dishes {
  justify-content: center;
}
body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes {
  justify-content: center;
  border: 2px solid grey;
  width: 70%;
  border-radius: 5px;
  margin: 20px;
}
body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes .card-icons-container img {
  height: 20px;
  width: 20px;
}
body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes img {
  width: 100%;
}
body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes .card-bottom-container {
  justify-content: space-around;
}
body main .popular-dishes-container .card-container-popular-dishes .card-popular-dishes .card-bottom-container button {
  margin-left: 100px;
}
body main .why-choose-us {
  align-items: center;
}
body main .why-choose-us .banner-container {
  align-items: center;
}
body main .why-choose-us .banner-container .banner-image {
  width: 80%;
  border-radius: 50%;
  margin: 5% 0;
}
body main .why-choose-us .banner-container .banner-text-container {
  width: 80%;
  margin: 5% 0;
}
body main .why-choose-us .banner-container .banner-text-container .button-container {
  justify-content: space-evenly;
}
body main .why-choose-us .banner-container .banner-text-container .button-container .about-button {
  margin: 0 3%;
  font-size: 10px;
}
body main .why-choose-us .banner-container .banner-text-container .button-container .about-button img {
  margin-right: 5px;
}
body main .why-choose-us .banner-container .banner-text-container .learn-more-button {
  margin: 8% 0;
}
body main .customer-review .review-card-container {
  justify-content: center;
}
body main .customer-review .review-card-container .review-card .top-container img {
  height: 20px;
  width: 20px;
}/*# sourceMappingURL=style.css.map */