@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

@import "./components/variables";
@import "./components/navbar";
@import "./components/hero";
@import "./components/back-to-top";
@import "./components/popular-dishes";
@import "./components/why-choose-us";
@import "./components/todays-special";
@import "./components/what-they-say";
@import "./components/order-now";
@import "./components/watch";
@import "./components/search-recipes";
@import "./components/footer";



html {
  scroll-behavior: smooth;


body {
  scroll-behavior: smooth;
  margin: 0px;}
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: $background-white-paper;
  background-repeat: repeat;
  
  h4 {
    font-size: 40px;
  }

  main  {

    section {
      padding: 10px 0px 70px 0px;
      width: 100%;
    }
  }
}